include ./layouts/header.pug

h1.title Our menu

ul.menu
  each item in menuItems
    li
      img(src=`/images/${item.item.toLowerCase()}.jpg`, alt=item.item)
      h2 #{item.item}
      p Price: $#{item.price}

include ./layouts/footer.pug

