@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #eae6d5;
  font-family: 'Space Mono', monospace;
  font-family: 'Open Sans', sans-serif;

  margin: auto;
  font-size: 1rem;
}
.error{
  display: flex;
  justify-content: center;
  margin: 5px;
  color: red;
  font-weight: bold;
}

/* style for navbar */
.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  padding: 1rem 0;
  border-bottom: 3px solid #791b1d;
  background-color: #d5d0b8;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
}

.navbar > h2{
  margin-left: 20px;
  font-size: 30px;
  color: #32210f;
  font-family: 'Courier New', Courier, monospace;
}

.links{
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
}

nav > ul > li {
  list-style: none;
  display: inline-block;
}

nav > ul > li > a,
a {
  text-decoration: none;
  color: #32210f;
  padding: 8px 12px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 18px;
  margin: 15px;
}

nav > ul > li > a:hover,
a:hover {
  background-color: #791b1d;
}

/* style for index.pug */
h1.title {
  text-align: center;
  margin: 1.5rem;
  color: #32210f;
}

ul.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  list-style: none; 
  padding: 0;
}

ul.menu li {
  width: 430px; 
  margin: 50px; 
  text-align: center;
  border-radius: 10px; 
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2); 
  background-color: #a09f99;
}

ul.menu li img {
  width: 100%; 
  border-top-left-radius: 8px;
  border-top-right-radius: 8px; 
}

ul.menu li h2 {
  margin: 10px 0;
  font-size: 18px;
  
}

ul.menu li p {
  margin: 5px 0;
  font-size: 16px;
  color: #32210f;
}

/* style for register and login.pug */
.register{
  display: flex;
  justify-content: center;
  margin: 30px;
}
.reg-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
}

.reg-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.reg-form input[type="text"],
.reg-form input[type="email"],
.reg-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.reg-form input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #791b1d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reg-form input[type="submit"]:hover {
  background-color: #32210f;
}

.alacc {
  display: flex;
  justify-content: center;
  margin: 20px;
}

/* style for profile.pug */
.profile-table {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
  border-collapse: collapse;
}

.profile-table td {
  padding: 20px;
  border: 2px solid #ccc;
}

.profile-table td.attribute {
  font-weight: bold;
}

/* style for manage-users */
.table-container {
  display: flex;
  justify-content: center;
}

.table {
  border-collapse: collapse;
  width: 80%;
  background-color: #ebe8e4;
  border-radius: 10px;
  margin: 20px auto;
}

.table thead{
  background-color: #ccc;
}

.table th, .table td {
  border: 1px solid #32210f;
  padding: 15px;
  text-align: left;
}

input[type="submit"] {
  background-color: #791b1d; 
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  margin-left: 5px; 
  margin-top: 5px;
}

input[type="submit"]:hover {
  background-color: #32210f; 
}

select {
  padding: 6px 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 70%;
  box-sizing: border-box; 
}

/* style for reports */
table.tablereport {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

table.tablereport thead {
  background-color: #f2f2f2;
}

table.tablereport th, table.tablereport td {
  padding: 12px 15px;
  text-align: left;
  border: 2px solid #32210f;
}

table.tablereport th {
  background-color: #791b1d;
  color: white;
  text-transform: uppercase;
}

table.tablereport tr:nth-child(even) {
  background-color: #c4c1b8;
}

table.tablereport tr:nth-child(odd) {
  background-color: #d5d4d0;
}

table.tablereport tr:hover {
  background-color: #f1f1f1;
}

.filter-form {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #f1f1f17e;
  margin-bottom: 50px;
}

.filter-form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.filter-form .form-control {
  padding: 10px;
  font-size: 1rem;
  border: 2px solid #32210f;
  border-radius: 5px;
}

.filter-form .btn {
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #791b1d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
}

.filter-form .btn:hover {
  background-color: #5c1416;
}

/* style for create-order */
.form-container {
  width: 40%;
  margin: 50px auto;
  margin-bottom: 25px;
  padding: 20px;
  border: 2px solid #32210f;
  border-radius: 10px;
  background-color: #d5d4d0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin: 15px;
}
.form-group2{
  margin-top: 25px;
}

label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 5px;
}

select {
  width: 100%;
  padding: 10px;
  font-size: 1.2em;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 1.2em;
  color: white;
  background-color: #791b1d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #32210f;
}